USE [master]
GO
/****** Object:  Database [MovieTicketDB]    Script Date: 13/12/2025 4:20:28 CH ******/
CREATE DATABASE [MovieTicketDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieTicketDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MovieTicketDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MovieTicketDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MovieTicketDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieTicketDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieTicketDB]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 13/12/2025 4:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SenderId] [int] NOT NULL,
	[ReceiverId] [int] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[SentTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDonDoAn]    Script Date: 13/12/2025 4:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonDoAn](
	[ChiTietID] [int] IDENTITY(1,1) NOT NULL,
	[HoaDonID] [int] NOT NULL,
	[FoodID] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[Gia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChiTietID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDonVe]    Script Date: 13/12/2025 4:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonVe](
	[ChiTietID] [int] IDENTITY(1,1) NOT NULL,
	[HoaDonID] [int] NOT NULL,
	[TicketID] [int] NOT NULL,
	[Gia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChiTietID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 13/12/2025 4:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[FoodID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](18, 0) NULL,
	[Stock] [int] NOT NULL,
	[ImageURL] [nvarchar](200) NULL,
	[Status] [bit] NOT NULL,
	[TitleFood] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 13/12/2025 4:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[HoaDonID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[NgayLap] [datetime] NULL,
	[TongTien] [int] NOT NULL,
	[LoaiHoaDon] [nvarchar](20) NULL,
	[TrangThaiID] [int] NULL,
	[LocationID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HoaDonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 13/12/2025 4:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 13/12/2025 4:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Duration] [int] NULL,
	[Genre] [nvarchar](100) NULL,
	[Poster] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 13/12/2025 4:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 13/12/2025 4:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[LocationID] [int] NOT NULL,
	[RoomName] [nvarchar](50) NOT NULL,
	[Seats] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 13/12/2025 4:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[SeatID] [int] IDENTITY(1,1) NOT NULL,
	[RoomID] [int] NOT NULL,
	[SeatCode] [nvarchar](10) NOT NULL,
	[IsDouble] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShowTime]    Script Date: 13/12/2025 4:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShowTime](
	[ShowTimeID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[ShowDate] [date] NOT NULL,
	[ShowTime] [time](7) NOT NULL,
	[TicketPrice] [decimal](10, 2) NOT NULL,
	[LocationID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShowTimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShowTimeSeat]    Script Date: 13/12/2025 4:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShowTimeSeat](
	[ShowTimeSeatID] [int] IDENTITY(1,1) NOT NULL,
	[ShowTimeID] [int] NOT NULL,
	[SeatID] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShowTimeSeatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 13/12/2025 4:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[HoaDonID] [int] NOT NULL,
	[ShowTimeID] [int] NOT NULL,
	[SeatID] [int] NOT NULL,
	[MaVe] [nvarchar](50) NOT NULL,
	[NgayDat] [datetime] NULL,
	[TrangThaiID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThai]    Script Date: 13/12/2025 4:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThai](
	[TrangThaiID] [int] IDENTITY(1,1) NOT NULL,
	[TenTrangThai] [nvarchar](50) NOT NULL,
	[ColorCode] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TrangThaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13/12/2025 4:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](15) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[RoleID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChatMessages] ON 

INSERT [dbo].[ChatMessages] ([Id], [SenderId], [ReceiverId], [Message], [SentTime]) VALUES (3, 11, 14, N'lô', CAST(N'2025-12-11T13:28:55.687' AS DateTime))
INSERT [dbo].[ChatMessages] ([Id], [SenderId], [ReceiverId], [Message], [SentTime]) VALUES (4, 13, 11, N'xin ', CAST(N'2025-12-11T13:51:00.540' AS DateTime))
INSERT [dbo].[ChatMessages] ([Id], [SenderId], [ReceiverId], [Message], [SentTime]) VALUES (5, 13, 11, N'hiii', CAST(N'2025-12-11T13:52:31.447' AS DateTime))
SET IDENTITY_INSERT [dbo].[ChatMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDonDoAn] ON 

INSERT [dbo].[ChiTietHoaDonDoAn] ([ChiTietID], [HoaDonID], [FoodID], [SoLuong], [Gia]) VALUES (1, 10, 1, 1, 30000)
INSERT [dbo].[ChiTietHoaDonDoAn] ([ChiTietID], [HoaDonID], [FoodID], [SoLuong], [Gia]) VALUES (2, 10, 6, 1, 25000)
INSERT [dbo].[ChiTietHoaDonDoAn] ([ChiTietID], [HoaDonID], [FoodID], [SoLuong], [Gia]) VALUES (3, 11, 4, 1, 20000)
SET IDENTITY_INSERT [dbo].[ChiTietHoaDonDoAn] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDonVe] ON 

INSERT [dbo].[ChiTietHoaDonVe] ([ChiTietID], [HoaDonID], [TicketID], [Gia]) VALUES (39, 1, 1, 75000)
INSERT [dbo].[ChiTietHoaDonVe] ([ChiTietID], [HoaDonID], [TicketID], [Gia]) VALUES (40, 1, 2, 75000)
INSERT [dbo].[ChiTietHoaDonVe] ([ChiTietID], [HoaDonID], [TicketID], [Gia]) VALUES (41, 1, 3, 75000)
SET IDENTITY_INSERT [dbo].[ChiTietHoaDonVe] OFF
GO
SET IDENTITY_INSERT [dbo].[Food] ON 

INSERT [dbo].[Food] ([FoodID], [Name], [Price], [Stock], [ImageURL], [Status], [TitleFood]) VALUES (1, N'Bổng ngô vị bơ', CAST(30000 AS Decimal(18, 0)), 50, N'7p.jpg', 1, N'Bỏng ngô')
INSERT [dbo].[Food] ([FoodID], [Name], [Price], [Stock], [ImageURL], [Status], [TitleFood]) VALUES (2, N'Bỏng ngô vị caramel', CAST(35000 AS Decimal(18, 0)), 50, N'aqua.jpg', 1, N'Bỏng ngô')
INSERT [dbo].[Food] ([FoodID], [Name], [Price], [Stock], [ImageURL], [Status], [TitleFood]) VALUES (3, N'Bắp rang muối', CAST(25000 AS Decimal(18, 0)), 50, N'boncha.jpg', 1, N'Bỏng ngô')
SET IDENTITY_INSERT [dbo].[Food] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([HoaDonID], [UserID], [NgayLap], [TongTien], [LoaiHoaDon], [TrangThaiID], [LocationID]) VALUES (1, 11, CAST(N'2025-12-12T13:49:45.960' AS DateTime), 225000, N'Ve', 1, NULL)
INSERT [dbo].[HoaDon] ([HoaDonID], [UserID], [NgayLap], [TongTien], [LoaiHoaDon], [TrangThaiID], [LocationID]) VALUES (2, 11, CAST(N'2025-12-10T13:50:07.437' AS DateTime), 200000, N'Ve', 1, NULL)
INSERT [dbo].[HoaDon] ([HoaDonID], [UserID], [NgayLap], [TongTien], [LoaiHoaDon], [TrangThaiID], [LocationID]) VALUES (3, 11, CAST(N'2025-12-09T13:50:18.167' AS DateTime), 200000, N'Ve', 1, NULL)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([LocationID], [LocationName]) VALUES (1, N'Hà Nội')
INSERT [dbo].[Location] ([LocationID], [LocationName]) VALUES (2, N'Hồ Chí Minh')
INSERT [dbo].[Location] ([LocationID], [LocationName]) VALUES (3, N'Đà Nẵng')
SET IDENTITY_INSERT [dbo].[Location] OFF
GO
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([MovieID], [Title], [Description], [Duration], [Genre], [Poster]) VALUES (1, N'Avengers: Endgame', N'Các Avengers còn lại nỗ lực đảo ngược hậu quả cú búng tay của Thanos.', 181, N'Hành động, Viễn tưởng', N'endgame.jpg')
INSERT [dbo].[Movie] ([MovieID], [Title], [Description], [Duration], [Genre], [Poster]) VALUES (2, N'Spider-Man: No Way Home', N'Peter Parker đối mặt với đa vũ trụ và những kẻ thù từ thế giới khác.', 148, N'Hành động, Siêu anh hùng', N'spiderman.jpg')
INSERT [dbo].[Movie] ([MovieID], [Title], [Description], [Duration], [Genre], [Poster]) VALUES (3, N'John Wick 4', N'John Wick tiếp tục cuộc chiến chống lại tổ chức High Table.', 169, N'Hành động', N'dragonball.jpg')
SET IDENTITY_INSERT [dbo].[Movie] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (4, N'Boss')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'Staff')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([RoomID], [LocationID], [RoomName], [Seats]) VALUES (1, 1, N'Phòng 1', 100)
INSERT [dbo].[Room] ([RoomID], [LocationID], [RoomName], [Seats]) VALUES (2, 1, N'Phòng 2', 100)
INSERT [dbo].[Room] ([RoomID], [LocationID], [RoomName], [Seats]) VALUES (3, 1, N'Phòng 3', 100)
SET IDENTITY_INSERT [dbo].[Room] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat] ON 

INSERT [dbo].[Seat] ([SeatID], [RoomID], [SeatCode], [IsDouble]) VALUES (1, 1, N'A1', 0)
INSERT [dbo].[Seat] ([SeatID], [RoomID], [SeatCode], [IsDouble]) VALUES (2, 1, N'A2', 0)
INSERT [dbo].[Seat] ([SeatID], [RoomID], [SeatCode], [IsDouble]) VALUES (3, 1, N'A3', 0)
GO
SET IDENTITY_INSERT [dbo].[Seat] OFF
GO
SET IDENTITY_INSERT [dbo].[ShowTime] ON 

INSERT [dbo].[ShowTime] ([ShowTimeID], [MovieID], [RoomID], [ShowDate], [ShowTime], [TicketPrice], [LocationID]) VALUES (1, 1, 1, CAST(N'2025-12-14' AS Date), CAST(N'07:00:00' AS Time), CAST(75000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[ShowTime] ([ShowTimeID], [MovieID], [RoomID], [ShowDate], [ShowTime], [TicketPrice], [LocationID]) VALUES (2, 1, 6, CAST(N'2025-12-14' AS Date), CAST(N'07:00:00' AS Time), CAST(75000.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[ShowTime] ([ShowTimeID], [MovieID], [RoomID], [ShowDate], [ShowTime], [TicketPrice], [LocationID]) VALUES (3, 2, 5, CAST(N'2025-12-14' AS Date), CAST(N'07:00:00' AS Time), CAST(75000.00 AS Decimal(10, 2)), 2)
SET IDENTITY_INSERT [dbo].[ShowTime] OFF
GO
SET IDENTITY_INSERT [dbo].[ShowTimeSeat] ON 

INSERT [dbo].[ShowTimeSeat] ([ShowTimeSeatID], [ShowTimeID], [SeatID], [Status]) VALUES (1, 1, 1, N'available')
INSERT [dbo].[ShowTimeSeat] ([ShowTimeSeatID], [ShowTimeID], [SeatID], [Status]) VALUES (2, 1, 2, N'available')
INSERT [dbo].[ShowTimeSeat] ([ShowTimeSeatID], [ShowTimeID], [SeatID], [Status]) VALUES (3, 1, 3, N'available')
GO
SET IDENTITY_INSERT [dbo].[ShowTimeSeat] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([TicketID], [HoaDonID], [ShowTimeID], [SeatID], [MaVe], [NgayDat], [TrangThaiID]) VALUES (1, 1, 1, 20, N'HN_251214_1_C4', CAST(N'2025-12-13T13:49:45.987' AS DateTime), 2)
INSERT [dbo].[Ticket] ([TicketID], [HoaDonID], [ShowTimeID], [SeatID], [MaVe], [NgayDat], [TrangThaiID]) VALUES (2, 1, 1, 28, N'HN_251214_1_D4', CAST(N'2025-12-13T13:49:46.037' AS DateTime), 1)
INSERT [dbo].[Ticket] ([TicketID], [HoaDonID], [ShowTimeID], [SeatID], [MaVe], [NgayDat], [TrangThaiID]) VALUES (3, 1, 1, 35, N'HN_251214_1_E6A', CAST(N'2025-12-13T13:49:46.063' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[TrangThai] ON 

INSERT [dbo].[TrangThai] ([TrangThaiID], [TenTrangThai], [ColorCode]) VALUES (1, N'Chua Dung', N'Green')
INSERT [dbo].[TrangThai] ([TrangThaiID], [TenTrangThai], [ColorCode]) VALUES (2, N'Da Dung', N'Black')
INSERT [dbo].[TrangThai] ([TrangThaiID], [TenTrangThai], [ColorCode]) VALUES (3, N'Het han', N'Red')
SET IDENTITY_INSERT [dbo].[TrangThai] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [HoTen], [NgaySinh], [Email], [SoDienThoai], [MatKhau], [RoleID]) VALUES (1, N'Nguyễn Văn A', CAST(N'1990-05-12' AS Date), N'user@example.com', N'0901234567', N'admin123', 1)
INSERT [dbo].[Users] ([UserID], [HoTen], [NgaySinh], [Email], [SoDienThoai], [MatKhau], [RoleID]) VALUES (2, N'Trần Thị B', CAST(N'1995-08-20' AS Date), N'staff@example.com', N'0912345678', N'staff123', 3)
INSERT [dbo].[Users] ([UserID], [HoTen], [NgaySinh], [Email], [SoDienThoai], [MatKhau], [RoleID]) VALUES (3, N'Lê Văn C', CAST(N'1985-02-10' AS Date), N'boss@example.com', N'0923456789', N'boss123', 4)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IDX_HoaDon_User]    Script Date: 13/12/2025 4:20:28 CH ******/
CREATE NONCLUSTERED INDEX [IDX_HoaDon_User] ON [dbo].[HoaDon]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B61600489757A]    Script Date: 13/12/2025 4:20:28 CH ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Ticket__2725100EA7ACA124]    Script Date: 13/12/2025 4:20:28 CH ******/
ALTER TABLE [dbo].[Ticket] ADD UNIQUE NONCLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Ticket_MaVe]    Script Date: 13/12/2025 4:20:28 CH ******/
CREATE NONCLUSTERED INDEX [IDX_Ticket_MaVe] ON [dbo].[Ticket]
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__0389B7BDA42112E6]    Script Date: 13/12/2025 4:20:28 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534E7F45E24]    Script Date: 13/12/2025 4:20:28 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT (getdate()) FOR [SentTime]
GO
ALTER TABLE [dbo].[Food] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[Room] ADD  DEFAULT ((100)) FOR [Seats]
GO
ALTER TABLE [dbo].[Seat] ADD  DEFAULT ((0)) FOR [IsDouble]
GO
ALTER TABLE [dbo].[ShowTime] ADD  DEFAULT ((75000)) FOR [TicketPrice]
GO
ALTER TABLE [dbo].[ShowTimeSeat] ADD  DEFAULT ('available') FOR [Status]
GO
ALTER TABLE [dbo].[Ticket] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_Sender] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_Sender]
GO
ALTER TABLE [dbo].[ChiTietHoaDonDoAn]  WITH CHECK ADD FOREIGN KEY([FoodID])
REFERENCES [dbo].[Food] ([FoodID])
GO
ALTER TABLE [dbo].[ChiTietHoaDonDoAn]  WITH CHECK ADD FOREIGN KEY([HoaDonID])
REFERENCES [dbo].[HoaDon] ([HoaDonID])
GO
ALTER TABLE [dbo].[ChiTietHoaDonVe]  WITH CHECK ADD FOREIGN KEY([HoaDonID])
REFERENCES [dbo].[HoaDon] ([HoaDonID])
GO
ALTER TABLE [dbo].[ChiTietHoaDonVe]  WITH CHECK ADD FOREIGN KEY([TicketID])
REFERENCES [dbo].[Ticket] ([TicketID])
GO
ALTER TABLE [dbo].[ChiTietHoaDonVe]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDonVe_Ticket] FOREIGN KEY([TicketID])
REFERENCES [dbo].[Ticket] ([TicketID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDonVe] CHECK CONSTRAINT [FK_ChiTietHoaDonVe_Ticket]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_TrangThai] FOREIGN KEY([TrangThaiID])
REFERENCES [dbo].[TrangThai] ([TrangThaiID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_TrangThai]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Users]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD FOREIGN KEY([LocationID])
REFERENCES [dbo].[Location] ([LocationID])
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD  CONSTRAINT [FK_Seat_Room] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[Seat] CHECK CONSTRAINT [FK_Seat_Room]
GO
ALTER TABLE [dbo].[ShowTime]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movie] ([MovieID])
GO
ALTER TABLE [dbo].[ShowTime]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([RoomID])
GO
ALTER TABLE [dbo].[ShowTime]  WITH CHECK ADD  CONSTRAINT [FK_ShowTime_Location] FOREIGN KEY([LocationID])
REFERENCES [dbo].[Location] ([LocationID])
GO
ALTER TABLE [dbo].[ShowTime] CHECK CONSTRAINT [FK_ShowTime_Location]
GO
ALTER TABLE [dbo].[ShowTimeSeat]  WITH CHECK ADD  CONSTRAINT [FK_ShowTimeSeat_Seat] FOREIGN KEY([SeatID])
REFERENCES [dbo].[Seat] ([SeatID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShowTimeSeat] CHECK CONSTRAINT [FK_ShowTimeSeat_Seat]
GO
ALTER TABLE [dbo].[ShowTimeSeat]  WITH CHECK ADD  CONSTRAINT [FK_ShowTimeSeat_ShowTime] FOREIGN KEY([ShowTimeID])
REFERENCES [dbo].[ShowTime] ([ShowTimeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShowTimeSeat] CHECK CONSTRAINT [FK_ShowTimeSeat_ShowTime]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([HoaDonID])
REFERENCES [dbo].[HoaDon] ([HoaDonID])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([ShowTimeID])
REFERENCES [dbo].[ShowTime] ([ShowTimeID])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Seat] FOREIGN KEY([SeatID])
REFERENCES [dbo].[Seat] ([SeatID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Seat]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_TrangThai] FOREIGN KEY([TrangThaiID])
REFERENCES [dbo].[TrangThai] ([TrangThaiID])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_TrangThai]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[ChiTietHoaDonDoAn]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([LoaiHoaDon]='DoAn' OR [LoaiHoaDon]='Ve'))
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFoodRevenue]    Script Date: 13/12/2025 4:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetFoodRevenue]
AS
BEGIN
    SELECT 
        f.FoodID,
        f.Name,
        f.TitleFood,
        SUM(ct.SoLuong) AS SoLuong,
        SUM(ct.SoLuong * f.Price) AS DoanhThu   -- hoặc cột giá đúng trong bảng Food
    FROM ChiTietHoaDonDoAn ct
    JOIN Food f ON ct.FoodID = f.FoodID
    GROUP BY f.FoodID, f.Name, f.TitleFood
    ORDER BY DoanhThu DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMovieRevenueByLocation]    Script Date: 13/12/2025 4:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetMovieRevenueByLocation]
AS
BEGIN
    SELECT 
        m.Title AS TenPhim,
        ISNULL(l.LocationName, N'Không xác định') AS LocationName,
        SUM(h.TongTien) AS DoanhThu,
        COUNT(t.TicketID) AS SoVe
    FROM HoaDon h
    LEFT JOIN Ticket t ON h.HoaDonID = t.HoaDonID
    LEFT JOIN ShowTime st ON t.ShowTimeID = st.ShowTimeID
    LEFT JOIN Movie m ON st.MovieID = m.MovieID
    LEFT JOIN Room r ON st.RoomID = r.RoomID
    LEFT JOIN Location l ON r.LocationID = l.LocationID
    WHERE h.TrangThaiID IN (1,2,3) AND h.LoaiHoaDon = 'Ve'
    GROUP BY m.Title, l.LocationName
    ORDER BY m.Title, l.LocationName;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRevenueByDay]    Script Date: 13/12/2025 4:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetRevenueByDay]
AS
BEGIN
    SELECT DATENAME(dw, NgayLap) AS NgayTrongTuan,
           SUM(TongTien) AS DoanhThu
    FROM HoaDon
    WHERE TrangThaiID IN (1,2,3)
      AND NgayLap >= DATEADD(DAY, -7, GETDATE())
    GROUP BY DATENAME(dw, NgayLap)
    ORDER BY MIN(NgayLap);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRevenueSummary]    Script Date: 13/12/2025 4:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetRevenueSummary]
AS
BEGIN
    SELECT 
        SUM(CASE WHEN h.LoaiHoaDon = 'Ve' THEN h.TongTien ELSE 0 END) AS DoanhThuPhim,
        SUM(CASE WHEN h.LoaiHoaDon = 'DoAn' THEN h.TongTien ELSE 0 END) AS DoanhThuDoAn,
        SUM(CASE WHEN h.LoaiHoaDon IN ('Ve','DoAn') THEN h.TongTien ELSE 0 END) AS TongDoanhThu,
        COUNT(t.TicketID) AS TongVe
    FROM HoaDon h
    LEFT JOIN Ticket t ON h.HoaDonID = t.HoaDonID
    WHERE h.TrangThaiID IN (1,2,3);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ResetAllData]    Script Date: 13/12/2025 4:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ResetAllData]
AS
BEGIN
    -- Xóa chi tiết hóa đơn vé (nếu có)
    DELETE FROM ChiTietHoaDonVe;

    -- Xóa chi tiết hóa đơn đồ ăn
    DELETE FROM ChiTietHoaDonDoAn;

    -- Xóa vé
    DELETE FROM Ticket;

    -- Xóa hóa đơn
    DELETE FROM HoaDon;

    -- Reset lại ID về 1
    DBCC CHECKIDENT ('ChiTietHoaDonVe', RESEED, 0);
    DBCC CHECKIDENT ('ChiTietHoaDonDoAn', RESEED, 0);
    DBCC CHECKIDENT ('Ticket', RESEED, 0);
    DBCC CHECKIDENT ('HoaDon', RESEED, 0);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoGheTheoRoom]    Script Date: 13/12/2025 4:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_TaoGheTheoRoom]
    @RoomID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @row CHAR(1);
    DECLARE @col INT;

    -- 1. Sinh ghế đơn: A1–D8 (32 ghế)
    SET @row = 'A';
    WHILE @row <= 'D'
    BEGIN
        SET @col = 1;
        WHILE @col <= 8
        BEGIN
            INSERT INTO Seat (RoomID, SeatCode, IsDouble)
            VALUES (@RoomID, CONCAT(@row, @col), 0);
            SET @col = @col + 1;
        END
        SET @row = CHAR(ASCII(@row) + 1);
    END

    -- 2. Sinh ghế đôi: E5A–E8B (4 cặp = 8 ghế)
    SET @col = 5;
    WHILE @col <= 8
    BEGIN
        INSERT INTO Seat (RoomID, SeatCode, IsDouble)
        VALUES (@RoomID, CONCAT('E', @col, 'A'), 1);

        INSERT INTO Seat (RoomID, SeatCode, IsDouble)
        VALUES (@RoomID, CONCAT('E', @col, 'B'), 1);

        SET @col = @col + 1;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateExpiredTickets]    Script Date: 13/12/2025 4:20:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateExpiredTickets]
AS
BEGIN
    -- Cập nhật vé hết hạn
    UPDATE T
    SET T.TrangThaiID = 3 -- Hết hạn
    FROM Ticket T
    JOIN ShowTime ST ON T.ShowTimeID = ST.ShowTimeID
    WHERE T.TrangThaiID = 1 -- Chưa dùng
      AND (
            ST.ShowDate < CAST(GETDATE() AS DATE)
            OR (ST.ShowDate = CAST(GETDATE() AS DATE) AND ST.ShowTime < CAST(GETDATE() AS TIME))
          );

    -- Nếu tất cả vé trong hóa đơn hết hạn thì hóa đơn cũng hết hạn
    UPDATE H
    SET H.TrangThaiID = 3
    FROM HoaDon H
    WHERE NOT EXISTS (
        SELECT 1
        FROM Ticket T
        WHERE T.HoaDonID = H.HoaDonID
          AND T.TrangThaiID <> 3
    );
END;
GO
USE [master]
GO
